---
import Layout from '../layouts/BlogPost.astro';
import GoldenSpiral from '../components/GoldenSpiral.astro';
import MeteorShower from '../components/MeteorShower.astro';
import TerminalQuote from '../components/TerminalQuote.astro';

const nowText =
	'我会的不多，目前会RUST,C,C Plus Plus,C Sharp,Python,Go,Cuda,Java,Kotlin,Astro,Assembly,Svelte,Dart,Javascript，Typescript，当然，有一部分没有认真学。';
---

<Layout
	title="About Me - Amira"
	description="Learn more about Amira."
	pubDate={new Date('Feb 10 2026')}
	metaMode="page"
	heroImage="/image/about/image.png"
	profileImage="/image/Amira.jpg"
>
	<Fragment slot="background">
		<GoldenSpiral />
		<MeteorShower density={1.8} heightVh={60} />
	</Fragment>
	<div class="mx-auto max-w-3xl">
		<p>
			你掉进陷阱了！（白色电音大冲击）
		</p>

		<h2>什么玩意</h2>
		<p>我现在正在做一些十分抽象的工作，包括但不限于：<p>
		<ul>
			<li>整理Nexus的VSE和核心代码</li>
			<li>调教AI然后被AI调教（没错我是M）</li>
			<li>学习Flutter外送Dart教程</li>
			<li>为了一叠醋包一盘饺子</li>
			<li>维护一堆没人看的项目</li>
			<li>
				在追求智能化，一体化的云原生应用，包括Guardian（云原生的PID1），
				<a href="https://github.com/littlefish1145/Nexus" target="_blank" rel="noreferrer">Nexus——以存算一体，内置向量为核心的云原生S3存储</a>
			</li>
		</ul>

		<h2>我会干啥？</h2>
		<div class="mx-auto max-w-2xl text-left">
			<TerminalQuote text={nowText} once={true} fixedHeight={false} />
		</div>

		<h2>写在最后</h2>
		<p>
			誓死效忠鹰角网络，终末地牛逼（大雾）
			<button type="button" class="contact-link" data-modal-toggle="contact">还有，我不是图灵派或者冯派</button>
			我也不知道为啥，就当我不在三界之内，五行之中吧。记得看看我的项目~
		</p>
	</div>
</Layout>

<script>
	document.querySelectorAll('.contact-link').forEach(btn => {
		btn.addEventListener('click', () => {
			const event = new CustomEvent('open-contact-modal');
			window.dispatchEvent(event);
		});
	});
</script>
